einops~=0.4.1
fvcore==0.1.5.post20221221
matplotlib~=3.5.1
numpy~=1.23.3
pandas~=1.4.3
Pillow~=10.2.0
scipy~=1.8.1
seaborn~=0.11.2
timm==0.9.12
torch~=2.0.1
tqdm~=4.64.0
visualizer~=0.0.1

scikit-learn~=1.1.1
